/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/README.html
/tmp/
.DS_Store
/api-docs
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/
.shadow-cljs/
node_modules/
*.nrepl-port
