{:source-paths ["src" "test"]

 :dependencies [[grafter/vocabularies "0.3.2"]]

 :nrepl {:port 8777}

 :builds {:test {:target :node-test
                 :output-to "target/node-tests.js"
                 :ns-regexp "test$"
                 :autorun  true}
          }
 }
